
/*==============RESPONSIVE================================================================================*/
@media (max-width: 1366px) {
.main-content.home .responsive-tabs__list__item--active:before, .main-content.home .responsive-tabs__list__item--active .before {
	top: 100%;
}
.contact-move {
	display: none;
}
.content .responsive-tabs ul {
	overflow: visible;
}
.canvas.flexbox.webgl.indexeddb .module-pd-profile .responsive-tabs__list__item--active:before {
	top: 95%; /*Chrome 32 */
}
}

@media (max-width: 1250px) {
.module-sv-search .search-option .textbox {
	width: 80% !important;
}
.main-content.home {
	margin-top: 31%
}
}

@media (max-width: 1230px) {
.main-content.home {
	margin-top: 32%
}
.top-nav {
	float: none;
}
.top-nav li a {
	padding: 0 .8em;
	height: 33px;
	font-size: .8em;
}
.dd-full {
	margin: 3px auto; /*width: 95%;*/
}
.first li a {
	padding: 0 !important;
}
.col-4 {
	width: 18%;
}
.col-7 {
	width: 82%;
}
.col-9 {
	width: 25%;
}
.footer-block img {
	width: 100%;
	height: auto;
}
.slide-content {
	margin-top: 12%;
}
.col-10 .module-lc-results .listing-item .left {
	width: auto;
}
.options .green a, .options .purple a {
	margin-left: 0;
}
.responsive-tabs-wrapper {
	clear: none;
	zoom: 1;
}
.responsive-tabs__list li {
	font-size: 1.3em;
}
.location-box .half .locale, .location-box .half .radius {
	width: 45% !important;
}
.p-list {
	width: 60% !important;
}
.col-7 .p-list {
	width: 55% !important;
}
.col-10 .module-pg-nav, .col-7 .module-pg-nav {
	font-size: 70%
}
.module-lc-search .grid-half + .grid-half, .module-pd-search-again .grid-half + .grid-half {
	margin-left: 0;
}
/*table { width:50% !important }*/
}

@media (max-width: 1135px) {
.main-content.home {
	margin-top: 33%
}
.dd-full {/*width: 85%;*/
}
.location-box .option {
	clear: both;
	float: none !important;
}
.location-box .search-option:last-child {
	padding-top: 1.0em;
}
.location-box .search-option:last-child > div {
	margin-left: 0 !important;
	margin-right: 4% !important;
	margin-bottom: 0.5em;
}
.location-box .grid-half.half {
	width: 75% !important;
}
.location-box .half .locale, .location-box .half .radius {
	width: 48% !important;
}
.module-lc-search .grid-half + .grid-half, .module-pd-search-again .grid-half + .grid-half {
	margin-top: 0.5em;
}
.col-7 .scfForm, .col-8 .scfForm {
	width: 58% !important
}
.col-7 .copy > img {
	float: none !important;
	margin-bottom: 20px;
}
}

@media (max-width: 1050px) {
.main-content.home {
	margin-top: 34%
}
.responsive-tabs-wrapper, .ui-accordion {
	width: 65%
}
.responsive-tabs__list li {
	font-size: 80%;
}
.responsive-tabs__list__item--active {
	padding-bottom: 1.2em;
}
 @-moz-document url-prefix() {
.responsive-tabs__list__item--active {
padding-bottom:1.3em;
}
}
/*.col-8 .responsive-tabs__list li { padding-bottom:0.5em;}*/
.home-inner .responsive-tabs__list li {
	font-size: 1.3em;
}
.col-7 .scfForm, .col-8 .scfForm {
	width: 56% !important
}
}

@media (max-width: 1020px) {
.touch .top-nav li:hover a {
	background: transparent;
	color: #fff
}
.touch .top-nav .drop {
	display: none !important
}
.top-nav li a {
	padding: 0 .55em;
}
footer .logo .img {
	width: 100%;
	height: auto;
}
.mt-control-nav {
	top: 30%;
}
.home-cart .cover {
	height: 42%;
}
/*.top-nav li { position:static }*/
.dd-full {
	position: absolute;
	left: 0 !important;
	right: auto; /* width: 80%;*/
}
.module-pd-search .textbox, .module-pd-search-again .textbox, .module-pd-search .styled, .module-pd-search-again .styled, .module-lc-search .textbox, .module-lc-search .styled {
	font-size: .75em !important;
}
.col-7 .scfForm, .col-8 .scfForm {
	width: 55% !important;
}
}

@media (max-width: 1100px) {
header .tools {
	float: none;
}
header .inside {
	top: 15%;
}
header .search-form {
	float: right;
	margin-right: 4px;
	border: 1px solid #0082c8;
	margin-top: 5px;
}
}

@media (max-width: 800px) {
header .tools-nav li {
	padding-top: 35px;
}
header .tools-nav li:last-child {
	float: none;
	position: absolute;
	right: 6px;
}
header .inside {
	top: 12%;
}
}

@media (max-width: 980px) {
.top-nav li a {
	font-size: .72em !important;
	padding: 0 .34em;
}
/*	.dd-full{width: 75.5%;}*/
.responsive-tabs-wrapper, .ui-accordion {
	width: 60%
}
.module-sv-search .search-option .textbox {
	width: 79% !important;
}
.top-nav li {
	position: static
}
.dd-full {
	width: 100%
}
.top-nav li:hover .dd-full {
	left: 0 !important;
}
.col-7 .scfForm, .col-8 .scfForm {
	width: 52% !important
}
}

@media (max-width: 940px) {
input, textarea {
	-webkit-border-radius: 0;
}
.top-nav li a {
	font-size: 75%;
}
.inside {
	top: 15%;
}
header .tools-nav .chart {
	padding: .4em 0 0 .4em;
	border: 1px solid #0082c8;
}
.search-form .text {
	max-width: 30%;
}
header .search-form .text {
	max-width: none;
}
.search-form button, .search-form input, .search-form select, .search-form textarea {
	float: right;
}
.module-sv-quick-search .search-option input {
	float: none
}
header .tools, header .tools .inner, header .tools-nav {
	float: none;
}
header .tools-nav li {
	margin-bottom: .1em;
}
.col-10 .module-pg-nav .prev {
	padding-left: 0 !important;
}
.col-10 .module-pg-nav .next {
	padding-right: 0 !important;
}
.col-10 .module-pg-nav .next:after, .col-10 .module-pg-nav .prev:after {
	background: none !important
}
.col-7 .scfForm, .col-8 .scfForm {
	width: 50% !important
}
}

/*iPad SUPPORT=====================================--*/
@media (max-width: 900px) {
table {
	width: 100% !important;
	word-break: break-word
}
table th {
	font-size: 90% !important
}
/*table th:first-child , .data-grid th:first-child { width:35%}*/
.main-content .tool-widget, .append, .append, .move .tool-widget {
	display: none !important;
}
.module-pd-search .textbox, .module-pd-search-again .textbox, .module-pd-search .styled, .module-pd-search-again .styled, .module-lc-search .textbox, .module-lc-search .styled {
	font-size: .75em !important;
}
header {
	background: #fff;
}
header .top {
	height: 7.6em;
	background: #0E71B7;
}
header .search-form {
	margin: .8em .4em 0 0;
}
header .search-form {
	float: right;
	margin: .6em .4em 0 0;
	border: 1px solid #0082c8;
}
nav {
	height: 40px;
	background-color: #0082c8;
	background-image: none;
	margin-top: 2.6em;
}
.col-7 h2 {
	clear: both;
}
.module-ce-search .search-option {
	width: 100%
}
.module-ce-search .search-option.hasDatePicker {
	height: auto
}
.top-nav li a {
	height: 40px;
}
.inside {
	top: 30%;
}
.logobg {
	z-index: 999999;
}
.top-nav .spacer {
	display: none;
}
.top-nav {
	float: none;
}
.top-nav li a {
	font-size: .74em !important;
	padding: 0 .7em;
}
.dd-full {
	top: 2.9em !important;
}
.top-nav li:hover .dd-full, .top-nav .drop-center:hover .dd-1.drop-center, .top-nav .drop-center:hover .dd-full {
	left: 0 !important;
}
.nav-collapse.collapse {
	margin: 0 auto;
}
.grid-1-thirds.green p {
	width: 80%;
}
.pager .grid-1-thirds {
	margin-top: 3%;
}
.bg {
	top: 5em;
}
.wrapper {
	margin-top: 5em;
}
.wrapper .hero {
	margin-top: 3em;
}
.notification-box {
	display: none;
}
.main-content {
	margin-top: /*5em*/9em;
	-webkit-box-shadow: 0;
	-moz-box-shadow: 0;
	box-shadow: 0;
	border-top: 0;
	background: #fff;
}
.main-content.home .responsive-tabs {
	height: 25em;
}
.landing-heading {
	top: 5.5em
}
.breadcrumbs {
	width: 100%;
}
.responsive-tabs-wrapper, .ui-accordion {
	width: 100%;
}
.responsive-tabs__list li {
	font-size: 1.2em;
}
.col-10 .responsive-tabs__list li {
	font-size: 1.1em;
}
.col-8 .responsive-tabs__list li {
	padding-bottom: 0.6em;
}
.responsive-tabs__list__item--active {
	padding-bottom: .75em !important
}
.home .responsive-tabs__list__item--active {
	padding-bottom: .6em !important
}
.content .module-ce-search {
	width: 100% !important;
}
.module-ce-search {
	width: 95% !important;
}
.move > * {
	width: 100%;
	clear: both
}
.col-8 .scfForm {
	width: 95% !important
}
footer .grid-q1 {
	width: 44%;
}
footer .grid-3-fourths {
	width: 70%;
}
footer .grid-1-fourths {
	width: 26%;
	margin-left: 0;
}
footer .grid-q1:nth-of-type(2n+3) {
	margin-left: 0;
	clear: both;
}
footer .disclaimer {
	font-size: 78%;
}
footer .logo img {
	width: 100%;
	height: auto;
}
.move {
	display: block !important;
	visibility: visible;
	clear: both;
}
.move .callout {
	float: left;
	width: 96%;
	display: block;
	overflow: hidden;
	background: #e6e7e8;
	margin-left: 2%;
	margin-bottom: 1.8em
}
.move .callout .content.map {
	max-width: 20em;
	margin: 0 auto;
}
.move .callout:nth-of-type(2n+3) {
	clear: both;
}
.move .callout .content, .move .reg-callout {
	padding: 1.8em !important
}
.callout .map {
	width: auto !important;
}
.move .callout .inner {
	border-bottom: 0;
	margin-bottom: 0;
	padding: 0
}
.move .pic {
	margin-bottom: .2em;
	width: 30%;
	float: left;
	margin-right: .8em;
}
div[class*="-search"].callout .location-box {
	padding: 0.5em !important;
}
.main-content.home {
	margin-top: 50%;
}
.mt-control-nav {
	top: 30%;
}
.slide-content {
	margin-top: 4%;
}
.hero img {
	width: 120%;
}
.home-cart {
	font-size: 95%
}
.landing-heading h1 {
	bottom: 0
}
.scfShortDate {
	width: 80% !important
}
.scfShortText {
	margin-left: 1em !important;
	float: none !important;
	width: auto !important;
	margin-top: 0 !important
}
.scfShortText .scfSingleLineTextLabel {
	width: 100% !important;
}
.col-4 {
	width: 30%;
}
.col-7 {
	width: 70%;
}
.module-pd-search .search-form, .col-7 .module-pd-results {
	width: 100% !important;
}
.module-pd-search-again.callout, .module-lc-search.callout {
	margin-left: 0 !important;
}
.col-9 span.customSelect {
	width: 89% !important;
}
.col-10 {
	width: 75% !important;
}
.col-10 .module-lc-info .contact {
	line-height: 1.6em !important;
}
.location-box .option {
	clear: none;
}
.location-box .grid-half.half {
	width: 45% !important;
}
.location-box .half .locale, .location-box .half .radius {
	width: 45% !important;
}
.scfDropListBorder {
	width: 100% !important;
}
.col-7 .scfForm, .col-8 .scfForm {
	width: 100% !important
}
.contact-move {
	display: block;
}
.contact-move .nav-collapse.collapse {
}
.callout.append-contact {
	display: none;
}
.callout .content {
	overflow: hidden;
}
.canvas.flexbox.webgl.indexeddb .responsive-tabs__list__item--active:before {
	top: 100%; /* Chrome32 */
}
.canvas.flexbox.webgl.indexeddb .module-pd-profile .responsive-tabs__list__item--active:before {
	top: 104%; /* Chrome32 */
}
.responsive-image {
	width: 100% !important;
	height: auto !important;
}
}

@media (max-width: 820px) {
.top-nav li a {
	font-size: 75%;
}
.responsive-tabs__list li {
	font-size: 1.2em;
}
.drop .grid-full, .drop .grid-q1, .drop .grid-1-thirds, .drop .grid-2-thirds {
	margin-left: 1%;
}
.drop {
	font-size: .9em;
}
.dd-full {
	padding: 1em;
}
.dd-full {
	top: 2.6em !important;
}
.search-option {
	width: 98% !important;
}
.col-10 .module-lc-results .listing-item .left {
	width: auto;
}
.home-cart .cover {
	height: 60%;
}
.toggler .pager p {
	font-size: 0.8em
}
.location-box .search-option {
	width: 45% !important;
}
div[class*="-search"].callout .location-box .search-option {
	width: 100% !important;
}
.col-7 .responsive-tabs__list {
	display: none;
}
.col-7 .responsive-tabs__heading {
	padding: 0.5em;
	border: 0;
	box-shadow: 0;
	position: relative;
	margin: 0 0 4px;
	border-bottom: 1px solid #e07332;
	font-size: 1rem;
}
.col-7 .responsive-tabs__heading:after {
	content: "";
	background: url("../images/sprite.png") no-repeat scroll -194px -117px transparent;
	display: block;
	height: 12px;
	width: 12px;
	position: absolute;
	right: 20px;
	top: 40%;
}
.col-7 .responsive-tabs__list li {
	text-transform: none;
}
.col-7 .responsive-tabs__heading:hover,  .col-7 .responsive-tabs__heading--active:hover {
}
.col-7 .responsive-tabs__heading--active {
	border-bottom: 4px solid #dc6016;
}
.col-7 .responsive-tabs__heading--active:after {
	background-position: -211px -117px
}
.col-7 .responsive-tabs__panel {
	border: none;
}
.col-7 .responsive-tabs__heading {
	display: block;
	cursor: pointer;
}
.col-7 .responsive-tabs__panel--closed-accordion-only {
	display: none;
}
.module-lc-search .customSelect .customSelectInner {
	width: 82% !important;
	white-space: pre;
	overflow: hidden;
}
}

@media (max-width: 800px) {
.pager .overlay {
	display: none
}
.col-7 .content .content-image {
	width: 100%;
}
.location-box .option {
	clear: both;
}
.location-box .grid-half.half {
	width: 75% !important;
}
.main-submit .button {
	margin-left: 0 !important;
}
.col-10 .module-pg-nav {
	font-size: .9em;
}
.col-10 .module-pg-nav a, .col-10 .module-pg-nav span {
	padding: .5em .4em !important;
}
.col-10 .responsive-tabs__list li {
	font-size: 1em;
}
}

@media (max-width: 760px) {
.responsive-tabs__list li {
	font-size: 1.1em;
}
.responsive-tabs__list {
	margin: .0 !important;
}
.responsive-tabs__list__item--active:before, .responsive-tabs__list__item--active .before {
	top: 87%;
}
}

@media (max-width: 731px) {
.top-nav li a {
	padding: 0 .5em;
}
.home-cart .cover {
	height: 51%;
}
}

@media (max-width: 580px) {
/*	.col-1 .copy img, .col-1 .copy a > img,
	.col-7 .copy img, .col-7 .copy a > img,
	.col-8 .copy img, .col-8 .copy a > img,
	.col-10 .copy img, .col-10 .copy a > img 
	.responsive-image {
		width: 100% !important;
		height: auto !important;
	}*/
}

/*NEXUS SUPPORT=====================================--*/
@media (max-width: 700px) {
.visible-desktop {
	display: none !important
}
.top-nav li {
	height: 1.7em
}
.top-nav li a {
	font-size: 0.9em !important
}
.append-nav, header .tools, .dd-full, .hero, .bg, .toggler, .col-9 {
	display: none !important;
}
.responsive-tabs .slides li {
	width: 94% !important;
	overflow: hidden
}
.mt-direction-nav li a {
	display: none
}
.slides .box {
	height: auto;
	padding: 0.8em 6%;
	width: 88%
}
.slides .box ul {
	margin-bottom: 0
}
.visible-mobile, .top-nav .mobile, nav a.nav-btn, .search-mobile, .mobile-box, .mobile-cart, .mobile-mychart {
	visibility: visible;
	display: block !important;
}
.nav-collapse.collapse {
	display: none;
	overflow: visible !important;
	margin-top: 2.5em
}
.mobile-nav {
	display: block !important;
	visibility: visible;
	background-color:#000000;
	color:#FFFFFF;
}
.content ul {
	margin-bottom: 0
}
.landing-heading {
	top: 0;
	clear: both;
}
.landing-its {
	clear: both
}
.landing-its ul {
	margin-bottom: 0
}
.landing-its.ui-accordion .ui-accordion-content-active {
	clear: both;
	height: auto !important
}
.landing-its.ui-accordion + * {
	clear: left
}
.landing-its .ui-accordion-header {
	background: #fff;
	font-weight: normal;
	border-top: 1px solid #ff6600;
	padding: 0.3em
}
.landing-its .ui-accordion-header > .ui-icon {
	content: "";
	background: url("../images/sprite.png") no-repeat scroll -194px -161px transparent;
	display: block;
	height: 12px;
	width: 12px;
	border: 0
}
.landing-its .ui-accordion-header > .ui-icon-triangle-1-s {
	background-position: -211px -117px;
}
.options .orange a, .options .purple a, .options .green a {
	padding: 2.5em 0 2.5em 65px;
	min-height: 37px
}
.options .grid-q1 {
	margin-bottom: 0
}
header {
	z-index: inherit;
	position: relative;
}
header .top {
	border: medium none;
	margin: 0 auto;
	padding-top: 50px;
	width: 100%;
	padding-bottom: 12px;
}
.mobile-slides {
	width: 100%
}
.slides_container {
	width: 500px;
	height: 200px;
	position: relative;
}
.feature_content {
	width: 500px;
	height: 200px;
	position: absolute;
}
#button-next {
	position: absolute;
	right: -2em;
	top: 20%;
	background: url('../images/slide-right.png') no-repeat;
	width: 23px;
	height: 35px;
}
#button-previous {
	position: absolute;
	left: -2em;
	top: 20%;
	background: url('../images/slide-left.png') no-repeat;
	width: 23px;
	height: 35px;
}
.main-content.home {
	margin-top: 0;
	overflow: hidden;
	clear: left;
}
.home .slides {
	width: 100% !important;
	-webkit-transition: none !important;
	transition: none !important;
	-webkit-transform: none !important
}
.landing-heading h1 {
	position: relative;
	color: #3c3c3c;
	margin-top: 0;
	color: #0082c8;
	margin-left: 1rem
}
.col-10 {
	width: 100% !important;
}
.col-10 .module-pd-search-again.callout, .col-10 .module-lc-search.callout {
	background: none;
}
.col-10 .module-pd-search-again .textbox, .col-10 .module-pd-search-again .styled {
	margin-right: 0;
}
.col-10 .module-pd-search-again .styled {
	width: 90%;
	max-width: none;
}
.col-10 .module-pd-search-again .textbox, .col-10 .module-lc-search .textbox {
	padding: 6px;
	width: 94% !important;
}
.inside {
	position: relative;
	width: 100%;
	right: 0 !important;
	background: #0082c8;
	display: block;
	height: inherit;
	padding: 4em 0 1em;
	z-index: 9999;
}
/* reset webkit search input browser style */

.search-form button, .search-form input, .search-form select, .search-form textarea {
	float: right;
	border: 1px solid #fff;
	margin-right: 1.2em;
}
.alphalist li {
	width: 100% !important
}
.search-form .blue {/*background: none;*/
	height: 2.5em;
	position: absolute;
}
header .search-form {
	margin: 0 !important;
	width: 97%; /*position: absolute; top: .9em;*/
	padding: 1em 0;
	border: 0;
	float: none;
	left: 2%
}
header .search-form .text {
	width: 88%;
	max-width: inherit;
	height: 2.5em;
	margin-right: 0;
}
.mobile-menu {
	background: #0082c8;
	position: relative;
	line-height: 45px;
	width: 98%;
	height: 45px;
	z-index: 9999;
}
.mobile-menu div {
	position: absolute;
	right: 0;
	top: .5em;
}
.mobile-menu a {
	color: #FFFFFF;
	float: none;
	padding: 0;
	text-decoration: none;
}
.mobile-nav {
	position: relative;
	right: 0;
	top: -5em;
	width: 100%;
	height: auto;
	margin-top: 0;
	min-height: 2.87em;
}
.mobile-nav a.nav-btn {
	background: url("../images/sprite.png") no-repeat scroll 0 -169px transparent;
	color: #FFFFFF;
	display: block;
	height: 30px;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	width: 1.9em;
	float: left;
	margin-right: .8em;
}
nav .active {
	background-position: 0 -74px !important
}
.mobile-nav a.search {
	float: right;
	width: 1.9em;
	background: url("../images/sprite.png") no-repeat scroll -46px -169px transparent;
}
nav .search.active {
	background-position: -46px -74px !important
}
.top-nav {
	margin-top: 3em;
	padding-bottom: .5em;
}
.top-nav li {
	display: block;
}
.top-nav li {
	float: none;
	position: relative;
	text-align: center;
	margin-bottom: 0;
	padding: 0 12px;
}
.top-nav li a {
	height: auto;
	line-height: 30px;
	font-size: 85%;
}
.top-nav li:hover a {
	background: none;
	color: #fff;
}
.top-nav li a:hover {
	text-decoration: underline
}
.top-nav .nav-on {
	background: rgb(230,230,230);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U2ZTZlNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(230,230,230,1) 0%, rgba(204,204,204,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(230,230,230,1)), color-stop(100%, rgba(204,204,204,1)));
	background: -webkit-linear-gradient(top, rgba(230,230,230,1) 0%, rgba(204,204,204,1) 100%);
	background: -o-linear-gradient(top, rgba(230,230,230,1) 0%, rgba(204,204,204,1) 100%);
	background: -ms-linear-gradient(top, rgba(230,230,230,1) 0%, rgba(204,204,204,1) 100%);
	background: linear-gradient(to bottom, rgba(230,230,230,1) 0%, rgba(204,204,204,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#cccccc', GradientType=0 );
}
.top-nav .nav-on a {
	font-weight: bold;
	color: #444;
	background: none
}
.top-nav .nav-on:hover a {
	color: inherit
}
.wrapper {
	overflow: visible;
	clear: both;
	background-image: none;
	position: relative;
	margin-top: 0;
}
.landing h1 {
	margin-top: 0;
	color: #0082c8;
	padding-bottom: 0;
	font-size: 2.5em;
}
.main-content {
	margin-top: -4em;
	box-shadow: none;
	-webkit-box-shadow: none;
	clear: both;
}
header .top {
	/*height: auto;*/
	padding-bottom: 0
}
.mobile-nav {
	top: 0em
}
.inside {
	padding-bottom: 2em
}
.wrapper {
/*	margin-top: 3em*/
}
.mobile-nav .search-form {
	display: none;
	margin: 0 !important;
	width: 90%;
	padding: 3em 0;
	border: 0;
	float: none;
	left: 2%;
}
.mobile-nav .search-form .text {
	max-width: none;
	width: 88%;
	margin-left: 2%;
	height: 2.5em;
	margin-right: 0;
}
.mobile-nav .search-form input[type="submit"] {
	-webkit-appearance: none
}
.main-content.home .responsive-tabs__panel {
	padding: 2em 1% 1em 1%;
	width: 98%;
	margin-bottom: .8em;
}
.mobile-box {
	overflow: hidden;
	margin-bottom: 1em;
}
.mobile-cart .grid-full {
	width: 100%;
	margin-left: 0;
}
.home-inner .copy {
	box-shadow: none;
	-webkit-box-shadow: none;
}
.main-content.home .responsive-tabs {
	height: inherit;
}
.home-cart, .home-cart div {
	height: auto !important;
	border-top: 1px #ddd solid;
}
.home-cart div {
	background: #fff
}
.home-cart div > section {
	background: #fefefe; /* Old browsers */
	background: -moz-linear-gradient(top, #fefefe 0%, #f5f3f4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe), color-stop(100%, #f5f3f4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fefefe 0%, #f5f3f4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fefefe 0%, #f5f3f4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fefefe 0%, #f5f3f4 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fefefe 0%, #f5f3f4 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f5f3f4', GradientType=0 ); /* IE6-9 */
}
.home-cart h3 {
	padding-left: .5em;
	margin-bottom: 0
}
.home-cart .green {
	border-bottom: 1px solid #ccc;
}
/*.home-cart .green a {background-position: -82px -196px;}*/
.home-cart .orange a {
	background-position: -82px -198px;
}
.home-cart .purple a {
	background-position: -262px -58px;
}
/*.home-cart .green a {background-position: -269px -339px;}*/
.visible-phone-contact {
	visibility: visible;
	display: block !important;
	position: relative;
	z-index: 999;
	width: 95%;
	clear: left;
	margin-top: 40px;
}
.visible-phone-contact a {
	color: #0082c8;
	font-size: .9em
}
.visible-phone-contact .phone a {
	font-weight: bold;
	font-size: .8em
}
.visible-phone-contact .phone {
	font-size: 1.5em;
}
.visible-phone-contact .grid-half {
	width: 48%;
	float: left;
	margin-left: 2%;
	margin-bottom: 1em;
}
.visible-phone-contact .grid-half.uc {
	margin-top: .45em;
}
.uc {
	position: relative;
	top: -11px;
}
.uc a {
	width: 100%;
	background: #e6e6e6;
	padding: .4em 0.4em 0 .4em;
	display: inline-block;
	font-size: 80%;
}
.mobile-mychart {
	text-align: center;
	overflow: hidden;
	clear: both;
	height: 3em;
	margin-top: 1em;
	font-size: 1.2em;
}
.mobile-mychart .add:before {
	margin-left: .6em
}
.main-content.home .mobile-mychart a {
	color: #0082c8
}
.footer-block {
	border-top: 1px solid #b8b8b8;
	border-bottom: 1px solid #b8b8b8
}
/* positioning */
.ui-icon-triangle-1-s {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #3c3c3c;
}
.responsive-tabs__heading {
	padding: 0.5em;
	border: 0;
	box-shadow: 0;
	position: relative;
	margin: 0 0 4px;
	border-bottom: 1px solid #e07332;
	font-size: 1rem;
}
.responsive-tabs__heading:after {
	content: "";
	background: url("../images/sprite.png") no-repeat scroll -194px -117px transparent;
	display: block;
	height: 12px;
	width: 12px;
	position: absolute;
	right: 20px;
	top: 40%;
}
.responsive-tabs__list li {
	text-transform: none
}
.responsive-tabs__heading:hover,  .responsive-tabs__heading--active:hover {
}
.responsive-tabs__heading--active {
}
.responsive-tabs__heading--active:after {
	background-position: -211px -117px
}
.responsive-tabs__panel {
	border: none;
}
.module-sv-search .search-option .icon {/*background-position: 4px -329px !important; */
	height: 26px;
}
.search-form .grid-half {
	width: inherit !important;
}
.grid-4-fifths {
	width: 100%;
	margin-top: 1em;
}
.col-10 .module-pg-nav .prev {
	padding-left: 1.2em !important;
}
.col-10 .module-pg-nav .next {
	padding-right: 1.2em !important;
}
.col-10 .module-pg-nav .prev:after {
	background: url("../images/arrow-nav.png") no-repeat scroll right -28px transparent !important;
}
.col-10 .module-pg-nav .next:after {
	background: url("../images/arrow-nav.png") no-repeat scroll right -56px transparent !important;
}
.col-10 .module-pg-nav a.next:hover:after {
	background-position: right -14px !important;
}
.col-10 .module-alphabet-list li {
	margin: 0 !important;
}
.module-lc-program > li .module-lc-thumbnail {
	width: auto !important;
	max-width: 100%
}
.module-lc-program h4 {
	clear: both
}
}

/*Droid SUPPORT=====================================--*/

@media (min-width: 700px) {
.options .orange a {
	background-position: -473px -360px;
}
.options .purple a {
	background-position: -234px -165px;
}
.options .green a {
	background-position: 0px 30px;
}
}

@media (max-width: 700px) {
.main-content.home .responsive-tabs__list, .responsive-tabs__list {
	display: none;
}
   
.responsive-tabs__heading {
	display: block;
	cursor: pointer;
	color: #444;
	border-color: #ccc
}
.responsive-tabs__heading--active {
	color: #e07332;
	border-color: #e07332
}
.responsive-tabs__panel--closed-accordion-only {
	display: none;
}
.responsive-tabs__panel--closed-accordion-only.responsive-tabs__panel--active {
	display: block;
}
.responsive-tabs__heading--active {
	border-bottom: 4px solid #dc6016;
}
.home .responsive-tabs__heading.first {
	color: #e07332;
}
.home .responsive-tabs__heading.first:after {
	background-position: -211px -117px;
}
/*.home .responsive-tabs__heading.first.responsive-tabs__heading--active { color: #ccc; }*/


.main-content.home .responsive-tabs__panel {
	display: none !important;
	top: 0;
	position: relative;
}
.main-content.home .responsive-tabs__panel--active {
	display: block !important;
}
.col-10 .module-pg-nav.grid-half, .col-7 .module-pg-nav, .col-7 .module-pg-info {
	width: 100%;
	margin-top: 0.5em;
}
.col-10 .module-pg-nav {
	text-align: center !important;
	clear: both;
	padding: 2em 0 1em;
}
.module-pd-results .module-pg-nav, .module-pd-results .module-pg-info {
	width: 100% !important;
	clear: both;
	float: left;
	text-align: center
}
.module-pd-results .p-list {
	width: 100% !important;
	clear: both
}
}

@media (min-width: 701px) {
.responsive-tabs__panel--closed-accordion-only {
	display: block !important;
}
/*.wrapper{height:850px !important;}*/
.main-content.home {
        margin-top: 64% !important;}
}

@media only screen and ( min-width: 581px) {
/*header .search-form {display: block !important;}*/
.left-nav, .callout .inner {
	display: block !important;
}
}

@media only screen and (max-width: 700px) {
.landing-its .ui-accordion-header {
	padding: 8px;
	padding: 6px 0px;
	width: 100%;
	display: block;
	position: relative;
	font-size: 1.7em;
	background: none;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	text-align: left !important;
}
.landing-its .ui-accordion-header.ui-state-active {
	font-weight: normal;
	text-decoration: none;
}
.landing-its .ui-accordion-header, .landing-its .ui-accordion-header.ui-state-active, .landing-its .ui-accordion-header.ui-state-hover {
	color: #3c3c3c !important;
	background: none !important;
	border-bottom: 1px solid #ff6600 !important;
	border-top: 1px solid #ff6600 !important;
}
.landing-its .ui-accordion-content {
	padding: 0 !important;
}
.landing-its .ui-accordion-content li {
	background: none;
	border-bottom: 1px solid #d9d9d9;
	clear: both;
	padding: .4em 0 .4em 0;
}
.landing-its .ui-accordion-content li a {
	color: #0082c8;
	padding-left: .6em !important;
}
}

@media only screen and (max-width: 768px) {
.module-pg-wrapper > div {
	width: 100%;
	float: none;
}
.module-pg-info:after {
	content: "";
	display: table;
	clear: both;
	margin-bottom: 1.5em;
}
}

@media only screen and ( max-width: 580px) {
.options {
	background: none;
	padding: 0;
}
.module-pg-info:after {
	content: "";
	display: table;
	clear: both;
	margin-bottom: 1.5em;
}
.options > section {
	background: #fefefe; /* Old browsers */
	background: -moz-linear-gradient(top, #fefefe 0%, #f5f3f4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe), color-stop(100%, #f5f3f4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fefefe 0%, #f5f3f4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fefefe 0%, #f5f3f4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fefefe 0%, #f5f3f4 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fefefe 0%, #f5f3f4 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f5f3f4', GradientType=0 ); /* IE6-9 */
}
/*.visible-mobile, .visible-phone, .top-nav .mobile, nav a.nav-btn, .search-mobile{visibility: visible; display: block !important;}
.nav-collapse.collapse  {display: none; overflow: visible !important;}*/
.its, .mobile-slides {
	visibility: visible;
	display: block !important;
}
header .tools, .breadcrumbs, .frq_links, .breadcrumbs, .block-inner {
	display: none;
}
.fb_iframe_widget {
	display: none !important;
}
.grid-half, .grid-full, .grid-1-quarter, .grid-q1, .grid-1-thirds, .grid-2-thirds, .grid-1-fourths, .grid-1-fifths, .grid-3-fourths, .grid-4-fifths {
	float: none;
	margin-left: 0;
}
.grid-q1, .grid-1-thirds, .grid-2-thirds, .grid-half {
	width: 100%;
	margin-left: 0;
}
/*.visible-phone-contact .grid-half {width: 48%; float: left; margin-left: 2%; margin-bottom: 1em;}*/
.landing-its, .options {
	display: block;
}
.module-sv-search .search-option .textbox {
	width: 75% !important;
}
h1 {
	padding-bottom: 22px;
}
/*.mobile-menu {height: 45px; position: absolute; right: 18px; top: 0;}*/


header {
}
header .mobile-call {
	display: block;
	padding-left: 6px;
	position: absolute;
	top: 0;
	z-index: 99999;
}
header .mobile-call a {
	color: #FFFFFF;
	display: block;
	font-size: 1.4em;
	font-weight: bold;
	height: 25px;
	line-height: 50px;
	padding: 0;
	text-decoration: none;
}
/*===============================================NAV===========================================================*/
nav a.nav-btn span {
	border-right: 1px solid;
	color: #FFFFFF;
	margin-left: 16px;
	padding-right: 12px;
}
nav a:hover .nav-btn {
	text-decoration: none;
}
/*.visible-phone-contact {position: relative; z-index: 999; width: 95%; clear: left;}
.visible-phone-contact .phone {font-size: 1.5em}
.visible-phone-contact a {color: #0082c8;}
.uc {position: relative; top: -11px;}
.uc a {width: 100%; background: #e6e6e6; padding: .5em 0 0 .5em; display: inline-block; font-size: 80%;}*/
.add:before {
	padding: .4em;
	margin: -.4em -.4em 0 .1em
}
.main-nav {
	width: 100%;
}
/*.top-nav {position: absolute; top: 45px; margin: 0; width: 100%; background: #0082c8; padding-bottom: 12px;}*/

.top-nav .title {
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	padding: 12px 12px 6px;
	text-align: left;
	font-size: 16px;
}
.top-nav .title:hover {
	background: none;
}
/*.content img {width: 100%; height: auto;}*/
.box .content img {
	width: auto;
	max-width: 100%
}
.slides .feat-box {
	padding: 0
}
.home-inner .slides img {
	width: auto
}
.flexbox.canvas.no-webgl.indexeddb .home-inner .slides img {
	max-width: 100%;
	height: auto /* IE10 */
}
.content .module-lc-profile-top img {
	width: 40%;
}
.content .module-lc-profile-top .accordion img {
	width: 100%;
}
.listing-item .button + .button {
	clear: both;
	float: left
}
.content .module-lc-profile-top .main-image {
	width: 100%;
	height: auto
}
.copy {
	padding-top: 0 !important;
}
.hero, .main-content {
	width: 100%
}
.main-content {
	margin-top: -1em;
}
.landing-heading {
	clear: both;
	box-shadow: 0px -7px 7px -7px #737171;
	-webkit-box-shadow: 0px -7px 7px -7px #737171;
	padding-top: 1em;
	height: auto;
}
.landing-its h3 {
	border-top: 1px solid #ff6600;
	padding: .4em 0
}
.landing-heading h1 {
	line-height: 1.5em
}
.landing .heading {
	font-size: 1.5em;
}
.landing h1 {
	margin-left: .3em;
}
.feat-box img {
	width: inherit;
}
.slides .box .arrow:after, .slides .feat-box .arrow:after, .mobile-box .arrow:after {
	bottom: 0;
	top: auto;
}
.p-list {
	width: 100% !important;
}
.col-2 .content, .col-3 .content, .content {
	padding: 0 1rem 1rem 1rem
}
.col-2 .content {
	padding-top: 0;
}
.col-2 .copy {
	padding-top: .5rem !important;
}
.content .inner {
}
.col-4 {
	max-width: inherit
}
.col-4 nav {
	position: relative;
}
.col-4 nav .active {
	background: none !important;
}
.level-2 {
	padding-bottom: 6px !important;
}
.tool-shell .visible-mobile .active {
	background: none;
	background-color: #eceded !important;
	text-decoration: none !important;
}
.tool-block {
}
.its {
	padding: 8px;
	background: none;
	padding: 12px 0px;
	border-bottom: 1px solid #ff6600;
	border-top: 1px solid #ff6600;
	margin: 0px 1rem;
}
.status {
	text-decoration: none;
}
.its a, .header-mobile a {
	width: 100%;
	display: block;
	color: #3c3c3c;
	position: relative;
	font-size: 1.7em;
	background: none;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}
.its .active, .header-mobile .active {
	background: none !important;
	text-decoration: none;
}
.main-content .move .callout .header-mobile a {
	text-decoration: none
}
.its .icon, .header-mobile .icon {
	margin-top: -6px;
	position: absolute;
	right: 0.2em;
	top: 50%;
}
.header-mobile .icon {
	border-bottom: 5px solid transparent;
	border-left: 5px solid #357b8f;
	border-top: 5px solid transparent;
	height: 0;
	width: 0;
}
.its .icon {
	background: url("../images/sprite.png") no-repeat scroll -194px -161px transparent;
	display: block;
	height: 12px;
	width: 12px;
	border: 0;
	right: 10px;
}
.its .active .icon {
	background: url("../images/sprite.png") no-repeat scroll -194px -161px transparent;
}
.header-mobile .icon {
	border-left: 5px solid #3c3c3c;
}
.header-mobile .active .icon {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #357b8f;
	height: 0;
	width: 0;
}
.its .active .icon {
	background-position: -211px -117px;
}
.its .active {
	font-weight: normal;
}
.header-mobile .active .icon {
	border-top: 5px solid #3c3c3c;
}
.callout .status h3 {
	font-size: 22px;
}
.its a:hover {
	text-decoration: none !important;
}
.left-nav {
	display: none;
	padding-top: 1em;
}
.leftnav-title a {
	padding-left: 1.6em;
}
.col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8 {
	width: 100%;
}
.col-3, .col-6 {
	margin-bottom: 0px;
}
.move .callout {
	width: 95%;
}
.move .pic {
	display: none;
}
.move .callout .content {
	padding: 1em !important;
}
.move .callout .header-mobile {
	display: block;
}
.move .callout .header-mobile a:hover {
	text-decoration: none
}
.move .callout .header {
	display: none;
}
.widget {
	display: block;
	width: 100%;
	clear: both
}
.widget + * {
	clear: both
}
.widget p {
	clear: both
}
.widget .img-holder {
	float: left;
	margin-right: 12px;
	width: 100%;
}
.pic {
	max-width: 60%;
}
.column.landing {
	padding: 10px;
}
.tr_edu_list {
	width: 95%;
}
.tr_edu_list {
	float: none !important;
}
.ui-datepicker {
	width: auto;
}
/*****Hero*/

.hero .hero-image {
	margin: 0px;
}
.hero .hero-image img {
}
.hero .banner {
	width: auto;
	position: static;
}
.hero .cta_area {
	left: 45%;
	top: 0 !important;
}
.hero .cta_area a {
	padding: 3px 8px;
	width: 50%
}
.hero .cta_area div.login_cta {
	float: left;
}
.hero .cta_area div.reg_cta {
	float: right;
}
.hero .cta_area {
	top: 25%;
	width: 100%;
	right: auto;
}
/*front page*/
.home .content {
	margin: 5px;
}
.module {
	width: 100%;
	margin-right: 0px;
	margin-bottom: 25px;
}
.module .content {
	margin: 0px;
	padding-top: 1rem;
}
.search-option {
	width: 94% !important;
}
.policy-core .module-file {
	float: left !important;
	position: relative !important;
	right: 0;
	bottom: 0;
	margin-top: 12px;
}
.home-footer p {
	padding-right: 5em;
}
.footer-block {
	overflow: hidden;
}
.home-footer {
	padding: 2.3em 0 0;
	left: 2%;
}
.home-footer .grid-half {
	padding-bottom: 2em;
}
.home-footer .linktag {
	right: 15%;
}
.feature-slider {
	margin: 1.5em auto;
	width: 75%;
	padding: 0;
	position: relative
}
.feature-slider .mt-prev {
	left: -40px;
}
.feature-slider .mt-next {
	right: -40px;
}
.feature-slider p {
	font-size: 75%;
	padding-top: .8em;
	font-weight: normal
}
.mobile-slides {
	position: relative;
	width: 100%;
	z-index: 1;
	margin: 0 auto;
}
.slides_container, .feature_content {
	width: 100%;
	min-height: 24em;
}
.slides_control {
	width: 100% !important;
}
.feature_content {
	height: inherit;
}
.prev {
	background: url("../images/slide-left.png") no-repeat;
	height: 35px;
	left: -30px;
	position: absolute;
	text-indent: -9999px;
	top: 35%;
	width: 23px;
}
.next {
	background: url("../images/slide-right.png") no-repeat;
	height: 35px;
	right: -30px;
	position: absolute;
	text-indent: -9999px;
	top: 35%;
	width: 23px;
	z-index: 9999;
}
.mobile-box .grid-full {
	margin-top: 1em;
	display: inline-block;
}
.mobile-box ul {
	margin-bottom: 0
}
.mobile-box li {
	background: none;
	padding-left: 0;
}
.col-10 .grid-1-thirds {
	margin: 1em 0;
}
/*===============================================FOOTER===========================================================*/
footer {
	background-image: none;
}
footer .desktop {
	display: none;
}
footer .footer-mobile {
	display: block;
}
footer a {
	font-size: 15px;
}
footer .disclaimer a {
	font-size: 11px;
	text-decoration: underline
}
footer ul {
	padding: 0 0 6px;
}
footer ul li {
	padding: 0 12px 12px 0;
}
footer h2 {
	padding: 22px 0 6px;
	font-size: 28px;
}
footer .logo img {
	width: auto;
}
footer .grid-3-fourths, footer .grid-1-fourths {
	width: 98%;
}
footer .ui-accordion {
	width: 100%;
	padding: 0 !important;
}
footer .ui-icon {
	background: url("../images/sprite.png") no-repeat scroll -194px -137px transparent !important;
	height: 12px;
	width: 12px;
	border: 0
}
footer .ui-icon-triangle-1-s {
	background-position: -211px -137px !important
}
footer .ui-accordion .ui-accordion-content-active {
	overflow: hidden !important;
	background: none;
	padding-top: 0 !important;
}
footer .ui-state-active a, footer .ui-state-active a:link, footer .ui-state-active a:visited {
	color: #fff;
}
footer .ui-accordion .ui-accordion-header {
	background: none !important;
	border: none !important;
	border-top: 1px solid #fff !important;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.ui-accordion .ui-accordion-header a {
	font-size: 21px !important;
}
footer .ui-accordion .ui-accordion-header:first-child {
	border: none;
}
.ui-state-hover a, .ui-state-hover a:hover {
	color: #fff;
}
.foot-inner {
	width: inherit;
	background: none;
	padding: 0;
}
.footer-info ul {
	width: 50%;
}
.foot-1 .footer-copy {
	margin: 0 0 0 30px;
	text-align: left;
	width: auto;
}
.foot-1 {
	background: url("../default/images/foot-inner.html") repeat;
	width: 100%;
}
.foot-2 {
	width: inherit;
}
.mychart {
	clear: both;
	width: 10em;
	text-align: center;
	margin: 1em auto 1.5em auto;
	font-weight: bold
}
.mychart a {
	color: #0082c8;
}
footer .grid-1-fourths {
	float: none;
	text-align: center;
}
footer .inner {
	text-align: left;
	padding: 0 1em;
	margin-bottom: 1em;
	border-top: 1px solid #fff;
	padding-top: 1.5em;
	width: 100%;
}
.social {
	float: none;
}
.social li {
	display: inline-block;
	float: none;
	margin: .3em .6em 0 0;
	padding: 2em 0;
}
footer .disclaimer {
	text-align: left;
	padding: 0 1em 2em;
	line-height: 1.3em;
}
.module-sv-search .search-option .button {
	font-size: 0.7em !important;
	width: 18% !important;
}
.module-pd-profile .module-pd-office-item h5 {
	font-size: 0.9em;
}
.content .feature-services ul {
	margin-bottom: 0;
}
}

@media only screen and (max-width: 550px) {
.module-sv-search .search-option .textbox {
	width: 70% !important;
}
}

@media only screen and (max-width: 500px) {
.location-box .grid-half.half {
	clear: both;
}
.location-box .grid-half.half {
	width: 100% !important;
	margin-top: 1em
}
.location-box .half .radius {
	width: 50% !important;
}
.location-box {
	padding: 1em 1em 0 1em !important;
}
}

@media only screen and (max-width: 460px) {
header .search-form .text {
	width: 83% !important;
}
.landing-heading h1 {
	font-size: 2em;
}
.landing-heading {/*height: 5.5em;*/
}
.content .heading {
	line-height: 1.2em;
}
.module-sv-search .search-option .textbox {
	font-size: 0.7em !important;
	height: 2.8em;
}
.module-lc-search .button {
	width: auto !important;
	padding: 5px .5em !important;
}
.visible-phone-contact a {
	font-size: 80%;
}
.uc a {
	font-size: 70%;
	padding-right: 0;
	text-align: center
}
.uc .add:before {
	margin-right: 0;
	margin-right: 0;
	padding: .6em .9em .2em .7em
}
.location-box .half .radius .styled.customSelect {
	width: 87% !important;
}
.location-box .half .radius .styled.hasCustomSelect {
	width: 39% !important;
}
}

/*iPhone SUPPORT=====================================--*/
@media only screen and (max-width: 360px) {
.logobg {
	
	height: 108px;
	/*
	width: 60%;
	background: #fff; 
	border: 1px solid #ddd; */
	float: left;
	margin-bottom:5px;
}
.language {
	margin-top:95px !important;
	margin-left:80px !important;
}
.national_logo{
	float:right;
	margin-top:-48px;
	}
	.line_text{
		color:#FFFFFF; 
		float: left; 
		margin-top:0px; 
		font-size:10px;
		width:220px;
		
		}

.logo img {
	width: 90%;
	height: auto;
}
header .search-form .text {
	width: 78% !important;
}
.inside {
	padding: 3em 0 1em;
}
/*.slides_container, .feature_content {min-height: 19em;}*/
	
.feature-slider .mt-prev {
	left: -35px;
}
.feature-slider .mt-next {
	right: -35px;
}
.responsive-tabs__panel li {
	background: none;
	padding-left: none;
}
.home-footer p {
	display: none;
}
.module-sv-search .search-option .icon {
	min-width: 28px !important;
}
.module-sv-search .search-option .textbox {
	width: 68% !important;
}
.module-sv-search .search-option .button {
	width: 20% !important;
}
.location-box .half .locale, .location-box .half .radius {
	width: 97% !important;
	margin-bottom: 1em;
}
.module-pd-search .button, .module-lc-search .button {
	width: auto !important;
	padding: .5em !important;
}
.search-form .half .locale, .search-form .half .radius {
	width: 98% !important;
}
.search-form .half .radius {
	width: 98% !important;
}
.search-form .half .locale .textbox, .search-form .flag .textbox {
	width: 100% !important;
}
.search-form .half .locale {
	padding-bottom: 1em;
}
}
/*RESPONSIVE TABLES PLUGIN STYLES=====================*/

.responsive-table th, .responsive-table td {
	word-break: normal;
}

@media only screen and (max-width: 783px) {
table.responsive-table {
	margin-bottom: 0;
}
.pinned {
	position: absolute;
	left: 0;
	top: 0;
	background: #fff;
	width: 35%;
	overflow: hidden;
	overflow-x: scroll;
}
.pinned table {
	border-right: none;
	border-left: none;
	width: 100%;
}
.pinned table th,  .pinned table td {
	white-space: nowrap;
}
.scrollable table td br {
	display: none;
}
.pinned td:last-child {
	border-bottom: 0;
}
div.table-wrapper {
	position: relative;
	margin-bottom: 20px;
	overflow: hidden;
}
div.table-wrapper div.scrollable table {
/*margin-left: 35%; */
}
div.table-wrapper div.scrollable {
	overflow: scroll;
	overflow-y: hidden;
	margin-left: 36%;
}
table.responsive-table td,  table.responsive-table th {
	position: relative;
	overflow: hidden;
	white-space: nowrap;
}
table.responsive-table th:first-child,  table.responsive-table td:first-child,  table.responsive-table td:first-child,  table.responsive-table.pinned td {
	display: none;
}
.responsive-table th {
	word-break: normal;
}
}

@media only screen and (min-width: 890px) and (max-width: 1020px) {
.mt-control-nav {
	top: 40% !important;
}
}


@media (max-width:600px){
    header{height: 80px;}
    .logobg{height: 90px !important}
    .language{display: none;}
}